[Desktop Entry]
Type=Application
Name=Jabra Desktop
Comment=Jabra-Dongle und Headsets verwalten
Exec=jabra-desktop
Icon=jabra-desktop
Terminal=false
Categories=AudioVideo;Audio;Settings;
StartupWMClass=JabraDesktop.App
